<%- include("../subDirHeader") -%>


  <div class="lightSection">
    <div class="row">
      <div class="col h1Container ">
        <h1 class="otherH1sLong"><%= pageName %></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 carouselSmall">

        <%- include("carousel") -%>


      </div>
      <div class="col-lg-6">
        <div class="sectionTextContainer">
          <div class="campingLeftText">
            <p>
              A few years ago I went on a stag do that was two nights of camping, and from then I was hooked!
            </p>
            <p>
              I hadn't been since Scouts when I was younger, and if you'd asked me before if I'd have enjoyed it, I'd
              have thought
              you were insane. But that's life, I suppose. Camping has brought me an incredible amount of freedom.
              Sometimes I
              struggle just to make a local journey due to my eyesight - with my particular type of sight loss, getting
              around is by
              far the hardest thing (the first time I went through Liverpool street in rush hour after losing my sight I
              had a panic
              attack thirty seconds after getting through the ticket barrier.)
            </p>
            <p>
              But going away and being self-sufficient has taught me I'm
              very capable. Not just the hiking in the middle of nowhere part, but the getting to the campsite and the
              getting set up.
            </p>
            <p>
              Now obviously I can't do all the things that would be possible with full sight, and sometimes it can be
              very difficult
              to judge if I'll be capable of something before the fact (although the sense of accomplishment when you
              finish a route you
              weren't sure about is fantastic) and I try to steer well clear of cliff edges and the like, but that still
              leaves plenty
              of fun to be had.
            </p>
            <p>
              As you'll see in the Favourite Places section, I'm especially a big fan of long beach walks. They're very
              accessible
              to me, you can often find ones that go for miles with an easy way back at the other end, I love the sound
              and the
              smell of the sea, and they're almost always stunningly beautiful.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 ">
        <div class="carouselBig">

          <%- include("carousel") -%>

        </div>


        <div class="campingRightText ">
          <p>
            So, I've set up a page with some notes and descriptions on my favourite places to camp and walk, and another
            on some of
            the gear I use since people seem fascinated by that topic (he says, pretending he's not one of them.)
          </p>

        </div>
        <a href="/camping/places"><button type="button"
            class="btn btn-lg campingButtons linkButtonDark">Places</button></a>
        <a href="/camping/gear"><button type="button" class="btn btn-lg campingButtons linkButtonDark">Gear</button></a>

      </div>
    </div>
    <div class="row">
      <div class="col-xxl-6"">
  </div>

  <div class=" col-xxl-6"">
      </div>
    </div>
  </div>


  <%- include("../footer") -%>