<%- include("../subDirHeader") -%>


<div class="lightSection">
  <div class="row">
    <div class="col h1ContainerLong ">
      <h1 class="otherH1sLong">My Favourite Places</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <h3>Brockenhurst, New Forest</h3>
    </div>
    <div class="col-lg-6">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="placesTextWrapper">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. 
        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur 
      <img src="../images/place_images/brockenhurst-zoomed-in.png" class="leftPlaceImageWithText clickableImage" 
      onclick="openDefaultModal();currentDefaultSlide(1)">
      
        <!-- ;currentDefaultSlide(1) -->
       ridiculus mus. Donec quam felis, ultricies nec, 
       pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, 
       vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede 
       mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. 
       Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, 
       feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies
        nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget 
        condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, 
        luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero 
        venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla 
        mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus 
        nunc,</p>

    </div>
    </div>
    <div class="col-lg-6">
      <img src="../images/place_images/brockenhurst-zoomed-out.png" onclick="openDefaultModal();currentDefaultSlide(2)"  
      class="rightPlaceImage clickableImage">
      <p>




      <%- include("../camping/brockenhurstGallery") -%>
      </p>
    </div>
  
  </div>
</div>
<div class="darkSection">
  <div class="row">
    <div class="col-lg-6">
    <span class="backToTopDark"><a href="#home"><p>BACK TO TOP</p></a></span>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 hideAtSmall">
    </div>
    <div class="col-lg-6">
      <h3>Swanage, Dorset</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 hideAtBig">
      <div class="placesTextWrapper">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
      <img src="../images/place_images/swanage-zoomed-in.png" class="leftPlaceImageWithText clickableImage" 
      onclick="openDefaultModal();currentDefaultSlide(4)">
       Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, 
       pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, 
       vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede 
       mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. 
       Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, 
       feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies
        nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget 
        condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, 
        luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero 
        venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla 
        mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus 
        nunc,</p>

        </div>
    </div>
    <div class="col-lg-6 ">
      <img src="../images/place_images/swanage-zoomed-out.png" class="leftPlaceImage clickableImage" 
      onclick="openDefaultModal();currentDefaultSlide(3)">
      <p>
        <%- include("../camping/swanageGallery") -%>
      </p>
    </div>
    <div class="col-lg-6 hideAtSmall">
      <div class="placesTextWrapper">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
      <img src="../images/place_images/swanage-zoomed-in.png" class="rightPlaceImageWithText clickableImage" 
      onclick="openDefaultModal();currentDefaultSlide(4)">
       Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, 
       pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, 
       vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede 
       mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. 
       Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, 
       feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies
        nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget 
        condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, 
        luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero 
        venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla 
        mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus 
        nunc,</p>

        </div>
    </div>
  </div>
  </div>
  <div class="lightSection">
    <div class="row">
      <div class="col">
      <span class="backToTopLight"><a href="#home"><p>BACK TO TOP</p></a></span>
      </div>
    </div>
  <div class="row">
    <div class="col-lg-6">
      <h3>Cromer, Norfolk</h3>
    </div>
    <div class="col-lg-6">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="placesTextWrapper">
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
      <img src="../images/place_images/cromer-zoomed-in.png" class="leftPlaceImageWithText clickableImage" 
      onclick="openDefaultModal();currentDefaultSlide(5)">
       Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, 
       pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, 
       vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede 
       mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. 
       Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, 
       feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies
        nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget 
        condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, 
        luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero 
        venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla 
        mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus 
        nunc,</p>

        </div>
    </div>
    <div class="col-lg-6">
      <img src="../images/place_images/cromer-zoomed-out.png" class="rightPlaceImage clickableImage" 
      onclick="openDefaultModal();currentDefaultSlide(6)">
      <p>
        <%- include("../camping/cromerGallery") -%>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
    </div>
    <div class="col-lg-6">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
    </div>
    <div class="col-lg-6">
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p class="copyright">Map screenshots courtesy of <a href="openstreetmap.org/copyright">OpenStreetMap</a></p>
    </div>
  </div>
  </div>

  <div id="defaultModal" class="modal">
    <span class="close cursor" onclick="closeDefaultModal()">&times;</span>
    <div class="modal-content">
      <div class="defaultSlides">
        <div class="numbertext">1 / 2</div>
        <img src="../images/place_images/brockenhurst-zoomed-in.png" style="width:100%">
      </div>
      <div class="defaultSlides">
      <div class="numbertext">2 / 2</div>
      <img src="../images/place_images/brockenhurst-zoomed-out.png" style="width:100%">
    </div>
    <div class="defaultSlides">
      <div class="numbertext">1 / 2</div>
      <img src="../images/place_images/swanage-zoomed-out.png" style="width:100%">
    </div>
    <div class="defaultSlides">
    <div class="numbertext">2 / 2</div>
    <img src="../images/place_images/swanage-zoomed-in.png" style="width:100%">
  </div>
  <div class="defaultSlides">
    <div class="numbertext">1 / 2</div>
    <img src="../images/place_images/cromer-zoomed-in.png" style="width:100%">
  </div>
  <div class="defaultSlides">
  <div class="numbertext">2 / 2</div>
  <img src="../images/place_images/cromer-zoomed-out.png" style="width:100%">
</div>
 
    </div>
  </div>


<%- include("../footer") -%>
