<%- include("../subDirHeader") -%>


  <div class="lightSection">
    <div class="row">
      <div class="col h1ContainerLong ">
        <h1 class="">
          <%= pageName %>
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <h5>Brockenhurst, New Forest</h5>
      </div>
      <div class="col-lg-6">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="placesTextWrapper">
          <p>
            Brockenhurst is a small village in the New Forest about mid-way between the towns of Lyndhurst and Lymington
            (and located on the main road between them).
          </p>
          <p>
            It is a truly lovely place, although very small, but the attraction is not the village so much as it being
            surrounded on all sides by the new forest. There is open forest dense with trees and paths through them
            (maintained pebble-covered paths as well as paths more correctly labelled "tracks") in some directions, and
            miles of moorland with spares growth and lots of grass in others.
          </p>
          <p>
            You can walk any one of dozens of routes in a circle and end up back at the village and there are routes of
            many times and near-infinite lengths.
          </p>
          <p>
            It is not only possible but quite easy and very pleasant to walk to Lyndhurst through the forest by any of
            multiple routes. You can walk through the forest on one side of the main road, and then walk back through a
            completely different forest on the other.
          </p>
          <p>
            There are two campsites just outside the village, one a smaller affair and one exteremely large one

            <img src="../images/place_images/brockenhurst-zoomed-in.png" class="leftPlaceImageWithText clickableImage"
              onclick="openModal('default', 0)" alt="something">

            called Hollands Wood which is a "Camping In The Forest" campsite - a joint venture between and Camping and
            Caravanning Club and the Forestry Service.
          </p>
          <p>
            Hollands Wood is <em>in</em> the open forest, meaning trees are everywhere, and so are the New Forest
            Ponies! There is no barrier around the campsite, it is litterally just in the forest, so the ponies come and
            go as they please. The site is massive and does not have marked pitches, you just pitch wherever you want
            (within certain rules). It can accomodate over 600 units.
          </p>
          <p>
            Much as the ponies can wander around the campsite, they are also free to wander around the village. It is
            not uncommon to see them on the high street (see photos). The judicious use of cattle grids keeps them from
            certain areas - people's private property and the main road - but other than this is their turf and humans
            are just guests there.
          </p>
          <p>
            Overall there's nowehere really like this place. Well, other villages in the New Forest I guess, but I think
            I meant the forest. It's truly beautiful, you could explore it for the rest of you life and never run out of
            new discoveries, the paths are very well maintained and are pleasure to walk onn, and it's really easy to
            camp there. Basically, it's Walker Nirvana.
          </p>

        </div>
      </div>
      <div class="col-lg-6">
        <div class="placesPadding hideAtSmall"></div>


        <img src="../images/place_images/brockenhurst-zoomed-out.png"
          onclick="openModal('default', 1)" class="rightPlaceImage clickableImage"
          id="brockSoloImage" alt="something">
        <p>




          <%- include("../camping/brockenhurstGallery") -%>
        </p>
      </div>

    </div>
  </div>
  <div class="darkSection">
    <div class="row">
      <div class="col-lg-6">
        <span class="backToTopDark"><a href="#home">
            <p>BACK TO TOP</p>
          </a></span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 hideAtSmall">
      </div>
      <div class="col-lg-6">
        <h5>Swanage, Dorset</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 hideAtBig">
        <div class="placesTextWrapper">
          <p>
            Swanage is a lovely town on the coast of Dorset. It is a fairly typical English seaside town with a relaxed
            atmosphere, lots of places to eat and a truly lovely beach.
          </p>
          <p>
            The beach is very sandy and very long, but there are also many and frequent groynes which makes me favourite
            activity of beach-walking difficult. There is no amusement pier but there is an old Victorian-era pier that
            you can visit for a £1 entry fee.
          </p>
          <p>
            My love of Swanage is more for its location that the place itself, although it is a lovely town. Within easy
            reach are Corfe Castle, Poole Harbour and Bournemouth, as well as a plethora of walking possibilities.
          </p>
          <p>
            There is no (modern) train to Swanage, but Wareham is on a the main line from London Waterloo and you can
            then get a bus direct to Swanage, or you can get off that bus at Corfe Castle, see the castle, and then get
            a steam train to Swanage for a modest fee.
          </p>
          <p>
            It's also possible to walk from Wareham to Swanage which I did on my first trip, part of the Purbeck Way
            joins the two. I walked six miles the first day (a late start due to getting the train from Essex) from
            Wareham to <a href="https://nordenfarm.com/">Norden Farm campsite</a>, a very pleasant campsite on a working
            farm just outside Corfe Castle. Then on the second day I walked about the same distance to Swanage. The leg
            involves quite a lot of climbing up some rather large hills, but the view from the top is more than worth
            it.
          </p>
          <p>
            There appear to be quite a few campsites in the area, but so far I've only stayed at <a
              href="https://www.ulwellholidaypark.co.uk/">Ulwell Holiday Park</a>. This place is about a mile outside of
            Swanage proper and you can either get the bus to Swanage, walk the same route the bus would
            <img src="../images/place_images/swanage-zoomed-in.png" class="leftPlaceImageWithText clickableImage"
              onclick="openModal('default', 3)" alt="something"> take in about half an hour (or a bit less) or you can
            get most of the way there via public rights of way through the countryside - one of which literally starts
            at the fence of the holiday park.
          </p>
          <p>
            The park is a mixture of static holiday homes and pitches for tents and caravans/motorhomes. One of the
            primary benefits for me is that they have a small area for very small hiking tents that has only four
            pitches but costs from £10-£13. And that includes use of all the facilities, including the pool if you like.
          </p>
          <p>
            I <em>love</em>the buses in this area. They have screens on them telling you what the next stop is, as well
            as audio annoucements of the same, sometimes. For a partially sighted person who can't always tell what he's
            looking at out of the window, this is a godsend. There's a bus stop just outside Ulwell Holiday Park which
            will get you to Swanage in about five minutes in one direction or Bournemouth and Poole (with one transfer)
            in the other.
          </p>
          <p>
            The bus towards Bournemouth crosses the mouth to Poole Harbour on a ferry which, let's be honest, is pretty
            cool. And then just the other side of the harbour entrance you have Sandbanks, which has one of the sandiest
            most beautiful beaches I've ever seen, and Bournemouth or Poole about half an hour away by bus.
          </p>
          <p>
            Before you pass across the harbour entrance through, you pass through Studland, probably my favourite place
            in the region. First of all a large potion of it is a nature reserve and therefore very beautiful, but also
            Studland beach offers about three miles of uninterupted beach-walking along it which I found highly
            enjoyable (if a bit odd at one point - the middle of Studland beach is a nudist beach, which I had not known
            prior to my walk).
          </p>
          <p>
            Overall, for anyone who just likes being outdoors in a variety of environments, Swanage and the surrounding
            area will have you covered.
          </p>


        </div>
      </div>
      <div class="col-lg-6 ">
        <div class="placesPadding hideAtSmall"></div>
        <img src="../images/place_images/swanage-zoomed-out.png" class="leftPlaceImage clickableImage"
          onclick="openModal('default', 2)" id="swanSoloImage" alt="something">
        <p>
          <%- include("../camping/swanageGallery") -%>
        </p>
      </div>
      <div class="col-lg-6 hideAtSmall">
        <div class="placesTextWrapper">
          <p>
            Swanage is a lovely town on the coast of Dorset. It is a fairly typical English seaside town with a relaxed
            atmosphere, lots of places to eat and a truly lovely beach.
          </p>
          <p>
            The beach is very sandy and very long, but there are also many and frequent groynes which makes me favourite
            activity of beach-walking difficult. There is no amusement pier but there is an old Victorian-era pier that
            you can visit for a £1 entry fee.
          </p>
          <p>
            My love of Swanage is more for its location that the place itself, although it is a lovely town. Within easy
            reach are Corfe Castle, Poole Harbour and Bournemouth, as well as a plethora of walking possibilities.
          </p>
          <p>
            There is no (modern) train to Swanage, but Wareham is on a the main line from London Waterloo and you can
            then get a bus direct to Swanage, or you can get off that bus at Corfe Castle, see the castle, and then get
            a steam train to Swanage for a modest fee.
          </p>
          <p>
            It's also possible to walk from Wareham to Swanage which I did on my first trip, part of the Purbeck Way
            joins the two. I walked six miles the first day (a late start due to getting the train from Essex) from
            Wareham to <a href="https://nordenfarm.com/">Norden Farm campsite</a>, a very pleasant campsite on a working
            farm just outside Corfe Castle. Then on the second day I walked about the same distance to Swanage. The leg
            involves quite a lot of climbing up some rather large hills, but the view from the top is more than worth
            it.
          </p>
          <p>
            There appear to be quite a few campsites in the area, but so far I've only stayed at <a
              href="https://www.ulwellholidaypark.co.uk/">Ulwell Holiday Park</a>. This place is about a mile outside of
            Swanage proper and you can either get the bus to Swanage, walk the same route the bus would
            <img src="../images/place_images/swanage-zoomed-in.png" class="leftPlaceImageWithText clickableImage"
              onclick="openModal('default', 3)" alt="something"> take in about half an hour (or a bit less) or you can
            get most of the way there via public rights of way through the countryside - one of which literally starts
            at the fence of the holiday park.
          </p>
          <p>
            The park is a mixture of static holiday homes and pitches for tents and caravans/motorhomes. One of the
            primary benefits for me is that they have a small area for very small hiking tents that has only four
            pitches but costs from £10-£13. And that includes use of all the facilities, including the pool if you like.
          </p>
          <p>
            I <em>love</em>the buses in this area. They have screens on them telling you what the next stop is, as well
            as audio annoucements of the same, sometimes. For a partially sighted person who can't always tell what he's
            looking at out of the window, this is a godsend. There's a bus stop just outside Ulwell Holiday Park which
            will get you to Swanage in about five minutes in one direction or Bournemouth and Poole (with one transfer)
            in the other.
          </p>
          <p>
            The bus towards Bournemouth crosses the mouth to Poole Harbour on a ferry which, let's be honest, is pretty
            cool. And then just the other side of the harbour entrance you have Sandbanks, which has one of the sandiest
            most beautiful beaches I've ever seen, and Bournemouth or Poole about half an hour away by bus.
          </p>
          <p>
            Before you pass across the harbour entrance through, you pass through Studland, probably my favourite place
            in the region. First of all a large potion of it is a nature reserve and therefore very beautiful, but also
            Studland beach offers about three miles of uninterupted beach-walking along it which I found highly
            enjoyable (if a bit odd at one point - the middle of Studland beach is a nudist beach, which I had not known
            prior to my walk).
          </p>
          <p>
            Overall, for anyone who just likes being outdoors in a variety of environments, Swanage and the surrounding
            area will have you covered.
          </p>

        </div>
      </div>
    </div>
  </div>
  <div class="lightSection">
    <div class="row">
      <div class="col">
        <span class="backToTopLight"><a href="#home">
            <p>BACK TO TOP</p>
          </a></span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <h5>Cromer, Norfolk</h5>
      </div>
      <div class="col-lg-6">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="placesTextWrapper">
          <p>
            Cromer is a lovely seaside town on the north-Norfolk coast. Like Swanage, it's fairly standard for and
            English beach town and a very pleasant place to spend some time.
          </p>
          <p>
            I've stayed rwice at the Caravanning and Motorhome Club campsite which is just outside Cromer (I think the
            adress is technically East Runton, though it's about halfway between the two on the main road to
            Sheringham). The site is lovely as and very neat, as expected from on of the big clubs. And despite being
            the Caravan and Motorhome Club has a tent field with about ten pitches.
          </p>
          <p>
            There are several other campsites in the area, including a Camping and Caravanning Club site in West Runton.
            There are also multiple holiday parks with static caravans. You can walk to some
            <img src="../images/place_images/cromer-zoomed-in.png" class="leftPlaceImageWithText clickableImage"
              onclick="openModal('default', 4)" alt="something">
            stairs down the cliffs to Cromer beach in about ten minutes, or a further five minutes to the main ramp
            entryway to the beach by the pier. Alternatively, there's a bus stop right outside the site that goes to
            Cromer (and on to norwich) in one direction and to Sheringham in the other.
          </p>
          <p>
            Sheringham is another seaside town about three miles west of Cromer. I would say it's slightly bigger than
            Cromer and has both a mainline station with connections to norwich (the same train that gets you to Cromer)
            and a stream train.
          </p>
          <p>
            You can walk on the path beside the road to Sheringham from the campsite in about an hour, which is a fairly
            pleasant walk with sea views for a lot of the way. Alternatively, you can follow the Norfolk Coast path
            which can be found right outside the campsite and heads to Sheringham and beyond.
          </p>
          <p>
            Or you could walk down the beach. I did this previously and it was my favourite beach walk I've ever done. I
            don't know if you can do it at high tide (and since there are huge cliffs and no way off the beach between
            towns I wouldn't risk it) but at low tide it is an <em>incredibly</em> impressive experience - about three
            miles just walking on wet compacted sand. And then once you reach Sheringham you can spend some time on the
            seafront with some fish and chips and then get a bus straight back to the campsite.
          </p>


        </div>
      </div>
      <div class="col-lg-6">
        <img src="../images/place_images/cromer-zoomed-out.png" class="rightPlaceImage clickableImage"
          onclick="openModal('default', 5)" alt="something">
        <p>
          <%- include("../camping/cromerGallery") -%>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
      </div>
      <div class="col-lg-6">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
      </div>
      <div class="col-lg-6">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="copyright">Map screenshots courtesy of <a href="openstreetmap.org/copyright">OpenStreetMap</a></p>
      </div>
    </div>
  </div>

  <div id="defaultModal" class="modal">
    <span class="close cursor" onclick="closeModal('default')">&times;</span>
    <div class="modal-content">
      <div class="defaultSlides">
        <div class="numbertext">1 / 2</div>
        <img src="../images/place_images/brockenhurst-zoomed-in.png" style="width:100%">
      </div>
      <div class="defaultSlides">
        <div class="numbertext">2 / 2</div>
        <img src="../images/place_images/brockenhurst-zoomed-out.png" style="width:100%">
      </div>
      <div class="defaultSlides">
        <div class="numbertext">1 / 2</div>
        <img src="../images/place_images/swanage-zoomed-out.png" style="width:100%">
      </div>
      <div class="defaultSlides">
        <div class="numbertext">2 / 2</div>
        <img src="../images/place_images/swanage-zoomed-in.png" style="width:100%">
      </div>
      <div class="defaultSlides">
        <div class="numbertext">1 / 2</div>
        <img src="../images/place_images/cromer-zoomed-in.png" style="width:100%">
      </div>
      <div class="defaultSlides">
        <div class="numbertext">2 / 2</div>
        <img src="../images/place_images/cromer-zoomed-out.png" style="width:100%">
      </div>

    </div>
  </div>





  <%- include("../footer") -%>